/*
デザイン要素はできるだけXDにやらせる
こちらで定義にするのはUnityでの挙動になるようにする

CSSパーサは以下のものを利用
https://jsfiddle.net/developit/vzkckrw4/
 */

* {
  layer: UI
}

.layout-x {
  layout-group: x;
  layout-group-control-child-size: width height;
  layout-group-child-force-expand: width;
  content-size-fitter-horizontal-fit: preferred-size;
}

/*
縦にならべる
 */
.layout-y {
  layout-group: y;
  layout-group-control-child-size: width height;
  layout-group-child-force-expand: width;
  content-size-fitter-vertical-fit: preferred-size;
}

/**
親が自動レイアウトをもっている場合に
これ以下のグループが必要なPREFERREDサイズを設定する
 */
.layout-rect {
  layout-element: preferred;
}

.viewport-xy {
  viewport: true;
  scroll-rect: x y;
  content-name: ".content";
}

.viewport-x {
  viewport: true;
  scroll-rect: x;
  rect-mask-two-d: true;
  content-name: ".content";
}

.viewport-x > .content {
  layout: x;
  conent-size-fitter: x;
}

.viewport-y {
  viewport: true;
  rect-mask-two-d: true;
  scroll-rect: y;
  scroll-rect-content: ".content .layout-y";
}

.viewport-y > .content {
  /* 親と横幅がぴったり重なる anchor.min.x=0 anchor.max.x=1 offset.min.x=0 offset.max.x=0*/
  rect-transform-anchor-offset-x: 0 1 0 0;
}

.child {
  layout-element: preferred
}

.viewport-grid-x {
  viewport: true;
  content-name: ".content";
  scroll-rect: x;
}

.viewport-grid-x > .content {
  layout: grid expand-y;
  conent-size-fitter: x;
  fix: y;
}


.viewport-grid-y {
  viewport: true;
  content-name: ".content";
  scroll-rect: y;
}

.viewport-grid-y > .content {
  layout: grid expand-x;
  conent-size-fitter: y;
  fix: x;
}


.scrollbar-y {
  scrollbar: true;
  direction: btt;
}

.scrollbar-x {
  scrollbar: true;
  direction: ltr;
}

.scrollbar-x > .handle {
  state: scrollbar-handle-rect;
  fix: l r t b;
}

.scrollbar-y > .handle {
  state: scrollbar-handle-rect;
  fix: l r t b;
}

.dots-scrollbar {
  scrollbar: true;
  direction: ltr;
  layout: x;
  layout-spacing-x: 9px;
  conent-size-fitter: x y;
}

.dots-scrollbar > .toggle {
  toggle: true;
  layout-element: min;
}

.toggle > .image.off {
  state: off;
}

/*
 * こちらが定義されていれば、offとonでイメージ入れ替え
 */
.toggle > .image.on {
  state: on;
}

/*
 * こちらが定義されていれば、offイメージにcheckedイメージが重なる
 */
.toggle > .image.checked {
  state: checked;
}

.image {
  image: true
}

.comp-image {
  image: true;
  component: true;
}

/**
textはtext mesh proとして出力する
 */
.text {
  text: true;
}

.button {
  button: true;
}
